In [18]:
import os
import glob
import pandas as pd
import xml.etree.ElementTree as ET
import numpy as np

In [2]:
def xml_to_csv(path):
    xml_list = []
    for xml_file in glob.glob(path + '/*.xml'):
        tree = ET.parse(xml_file)
        root = tree.getroot()
        for member in root.findall('object'):
            value = (root.find('filename').text,
                     int(root.find('size')[0].text),
                     int(root.find('size')[1].text),
                     member[0].text,
                     int(member[4][0].text),
                     int(member[4][1].text),
                     int(member[4][2].text),
                     int(member[4][3].text)
                     )
            xml_list.append(value)
    column_name = ['filename', 'width', 'height', 'class', 'xmin', 'ymin', 'xmax', 'ymax']
    xml_df = pd.DataFrame(xml_list, columns=column_name)
    return xml_df

In [10]:
dirpath = os.getcwd()
Path = dirpath 
print (Path)
full_labels = xml_to_csv(Path)

C:\Users\Lenovo\Documents\GitHub\YoloV5_ElecPos\annotations

In [11]:
full_labels

               filename  width  height     class  xmin  ymin  xmax  ymax
0    elec_east00020.jpg    640     640   Soporte   348   108   403   262
1    elec_east00020.jpg    640     640  Gabinete   276     1   425   302
2    elec_east00022.jpg    640     640     Poste   307     1   342   330
3    elec_east00022.jpg    640     640     Poste   448     1   469   339
4    elec_east00022.jpg    640     640   Soporte   463   117   525   322
..                  ...    ...     ...       ...   ...   ...   ...   ...
324  elec_nort00691.jpg    640     640     Poste   311     2   329   338
325  elec_nort00693.jpg    640     640   Soporte   372   130   412   332
326  elec_nort00693.jpg    640     640     Poste   313     1   325   339
327  elec_nort00694.jpg    640     640     Poste   309     1   328   333
328  elec_nort00694.jpg    640     640   Soporte   368   141   411   349

[329 rows x 8 columns]

In [12]:
grouped = full_labels.groupby('filename')

In [13]:
grouped.apply(lambda x: len(x)).value_counts()

2    137
1     40
4      3
3      1
dtype: int64

In [14]:
gb = full_labels.groupby('filename')

In [15]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [16]:
len(grouped_list)

181

In [22]:
train_index = np.random.choice(len(grouped_list), size=160, replace=False)
test_index = np.setdiff1d(list(range(181)), train_index)

In [23]:
len(train_index), len(test_index)

(160, 21)

In [24]:
# take first 200 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [25]:
len(train), len(test)

(293, 36)

In [26]:
train.to_csv('train_labels.csv', index=None)
test.to_csv('test_labels.csv', index=None)

In [27]:
train

               filename  width  height    class  xmin  ymin  xmax  ymax
117  elec_elev00026.jpg    640     640    Poste   305   302   343   345
118  elec_elev00026.jpg    640     640  Soporte    98   325   257   419
305  elec_nort00600.jpg    640     640    Poste   316     1   325   336
306  elec_nort00600.jpg    640     640  Soporte   106   133   179   321
45   elec_east00053.jpg    640     640  Soporte   303   120   359   352
..                  ...    ...     ...      ...   ...   ...   ...   ...
297  elec_nort00284.jpg    640     640    Poste   317     5   325   346
53   elec_east00059.jpg    640     640  Soporte   276    75   368   334
54   elec_east00059.jpg    640     640    Poste   311     1   327   330
99   elec_east00691.jpg    640     640  Soporte   312   150   352   333
100  elec_east00691.jpg    640     640    Poste   308     1   335   345

[293 rows x 8 columns]

In [28]:
import pandasql as ps
#sea